<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="Icon" href="../../../assets/img/logonaciones.png">
    <link rel="stylesheet" href="../../../assets/css/StyleCronograma.css">
    <title>Administrador - Cronograma</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <div class="logo">
                    <img src="../../../assets/img/logonaciones.png" alt="logo Colegio">
                </div>

                <div class="title">
                    <p> Colegio <p>
                    <p> Naciones Unidas I.E.D </p>
                </div>
            </div>

            <div class="name">
                <p class="nombre"> Jaider Quimbaya </p>
                <p> COORDINADOR</p>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="Dashboard.html">
                            <i class="fa-solid fa-house"></i> Inicio
                        </a>
                    </li>

                    <li>
                        <a href="Estudiante.html">
                            <i class="fa-solid fa-graduation-cap"></i> Estudiantes
                        </a>
                    </li>

                    <li>
                        <a href="ListDocentes.html">
                            <i class="fa-solid fa-person-chalkboard"></i> Docentes
                        </a>
                    </li>

                    <li>
                        <a href="Cronograma.html">
                            <i class="fa-solid fa-calendar"></i> Cronograma
                        </a>
                    </li>

                    <li>
                        <a href="Repotes.html">
                            <i class="fa-solid fa-book"></i> Reportes
                        </a>
                    </li>
                </ul>
            </div>

            <div class="button">
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
                </a>
            </div>
            
        </div>
    </header>

    <main>
        <div class="crono">
            <div class="header">
                <div class="head">
                    <div class="op">
                        <div class="mo">
                            <div class="izq">
                                <i class="fa-solid fa-chevron-left"></i>
                            </div>
        
                            <div class="dere">
                                <i class="fa-solid fa-chevron-right"></i>
                            </div>
                        </div>
        
                        <div class="hoy">
                            <p>
                                Hoy
                            </p>
                        </div>
                    </div>
    
                    <div class="mes">
                        <h1>
                            Agosto 2023
                        </h1>
                    </div>
    
                    <div class="msd">
                        <div class="mes">
                            <h3>
                                Mes
                            </h3>
                        </div>
    
                        <div class="sema">
                            <h3>
                                Semana
                            </h3>
                        </div>
                        
                        <div class="dia">
                            <h3>
                                Dia
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="linea"></div>
            </div>

            <div class="cronograma">
                <div class="dia">
                    <table>
                        <thead>
                            <tr>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="inser">
                    <form action="" method="post">
                        <select name="" id="">
                            <option value="">Tipo de Evento</option>
                            <option value="">Evento Educativo</option>
                            <option value="">Evento Academico</option>
                        </select>

                        <div class="title">
                            <label class="Title-label" for="">Titulo <i class="fa-solid fa-chevron-down"></i></label>
                            <input type="text" class="input" placeholder="Escriba el título...">
                        </div>
                        
                        <div class="title">
                            <label class="Title-label" for="">Descripcion <i class="fa-solid fa-chevron-down"></i></label>
                            <input type="text" placeholder="Descripcion del evento......">
                        </div>

                        <div class="title2">
                            <label class="Title-label" for="">Fecha de inicio <i class="fa-solid fa-chevron-down"></i></label>
                            <input type="date" placeholder="Escriba el título...">
                        </div>

                        <div class="title2">
                            <label class="Title-label" for="">Fecha de Cierre <i class="fa-solid fa-chevron-down"></i></label>
                            <input type="date" placeholder="Escriba el título...">
                        </div>

                        <div class="title2">
                            <label class="Title-label" for="">Color de Evento<i class="fa-solid fa-chevron-down"></i></label>
                            <input type="color" placeholder="Escriba el título...">
                        </div>

                        <div class="bu">
                            <button>Crear Evento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>