<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="Icon" href="../../../assets/img/logonaciones.png">
    <link rel="stylesheet" href="../../../assets/css/StyleDashboard.css">
    <title>Administrador</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <div class="logo">
                    <img src="../../../assets/img/logonaciones.png" alt="logo Colegio">
                </div>

                <div class="title">
                    <p> Colegio <p>
                    <p> Naciones Unidas I.E.D </p>
                </div>
            </div>

            <div class="name">
                <p class="nombre"> Jaider Quimbaya </p>
                <p> COORDINADOR</p>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="Dashboard.html">
                            <i class="fa-solid fa-house"></i> Inicio
                        </a>
                    </li>

                    <li>
                        <a href="Estudiante.html">
                            <i class="fa-solid fa-graduation-cap"></i> Estudiantes
                        </a>
                    </li>

                    <li>
                        <a href="ListDocentes.html">
                            <i class="fa-solid fa-person-chalkboard"></i> Docentes
                        </a>
                    </li>

                    <li>
                        <a href="Cronograma.html">
                            <i class="fa-solid fa-calendar"></i> Cronograma
                        </a>
                    </li>

                    <li>
                        <a href="Repotes.html">
                            <i class="fa-solid fa-book"></i> Reportes
                        </a>
                    </li>
                </ul>
            </div>

            <div class="button">
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
                </a>
            </div>
            
        </div>
    </header>

    <main>
        <div class="conten">
            <div class="desa">
                <div class="card">
                    <div class="estu">
                        <h1>
                            4,000
                        </h1>
                        <p>
                            Estudiantes
                        </p>
                    </div>
    
                    <div class="icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                </div>
    
                <div class="card">
                    <div class="estu">
                        <h1>
                            30
                        </h1>
                        <p>
                            Docentes
                        </p>
                    </div>
    
                    <div class="icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                </div>
            </div>
    
            <div class="desa">
                <div class="card">
                    <div class="estu">
                        <div class="text">
                            <h1>
                                30
                            </h1>
                            <p>
                                Materias
                            </p>
                        </div>
    
                        <a href="#">
                            Registrar materia
                        </a>
                    </div>
    
                    <div class="icon">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                </div>
    
                <div class="card">
                    <div class="estu">
                        <h1>
                            1.500.000
                        </h1>
                        <p>
                            Vistas
                        </p>
                    </div>
    
                    <div class="icon">
                        <i class="fa-regular fa-eye"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="crono">
            <div class="header">
                <div class="op">
                    <div class="mo">
                        <div class="izq">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
    
                        <div class="dere">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
    
                    <div class="hoy">
                        <p>
                            Hoy
                        </p>
                    </div>
                </div>

                <div class="mes">
                    <h1>
                        Agosto 2023
                    </h1>
                </div>

                <div class="msd">
                    <div class="mes">
                        <h3>
                            Mes
                        </h3>
                    </div>

                    <div class="sema">
                        <h3>
                            Semana
                        </h3>
                    </div>
                    
                    <div class="dia">
                        <h3>
                            Dia
                        </h3>
                    </div>
                </div>
            </div>

            <div class="linea"></div>

            <div class="semana">
                <div class="lunes">
                    <h2>
                        lunes
                    </h2>
                </div>
                <div class="lunes">
                    <h2>
                        Martes
                    </h2>
                </div>
                <div class="lunes">
                    <h2>
                        Miercoles
                    </h2>
                </div>
                <div class="lunes">
                    <h2>
                        Jueves
                    </h2>
                </div>
                <div class="lunes">
                    <h2>
                        Viernes
                    </h2>
                </div>
            </div>
        </div>
    </main>
</body>
</html>