<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/StyleReportes.css">
    <link rel="Icon" href="../../../assets/img/logonaciones.png">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <div class="logo">
                    <img src="../../../assets/img/logonaciones.png" alt="logo Colegio">
                </div>

                <div class="title">
                    <p> Colegio <p>
                    <p> Naciones Unidas I.E.D </p>
                </div>
            </div>

            <div class="name">
                <p class="nombre"> Jaider Quimbaya </p>
                <p> COORDINADOR</p>
            </div>

            <div class="menu">
                <ul>
                    <li>
                        <a href="Dashboard.html">
                            <i class="fa-solid fa-house"></i> Inicio
                        </a>
                    </li>

                    <li>
                        <a href="Estudiante.html">
                            <i class="fa-solid fa-graduation-cap"></i> Estudiantes
                        </a>
                    </li>

                    <li>
                        <a href="ListDocentes.html">
                            <i class="fa-solid fa-person-chalkboard"></i> Docentes
                        </a>
                    </li>

                    <li>
                        <a href="Cronograma.html">
                            <i class="fa-solid fa-calendar"></i> Cronograma
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa-solid fa-book"></i> Reportes
                        </a>
                    </li>
                </ul>
            </div>

            <div class="button">
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
                </a>
            </div>
            
        </div>
    </header>

    <main>
        <div class="conte">
            <div class="title">
                <h3>Generar Reportes a los siguientes Cursos</h3>
            </div>

            <div class="tresD">
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="tresD">
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
                
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="tresD">
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
                
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="tresD">
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
                
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="tresD">
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>

                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
                
                <div class="course">
                    <div class="cu">
                        <h3>Curso</h3>
                        <h3>601</h3>
                    </div>

                    <div class="info">
                        <div class="dire">
                            <h3>Director de curso:</h4>
                            <h3>Lorena Caro</h4>
                        </div>

                        <div class="but">
                            <button>Generar Reportes</button>
                        </div>
                    </div>

                    <div class="canti">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <h3>25</h3>
                    </div>
                </div>
            </div>

            <div class="bu">
                <button>GENERAR REPORTES DE TODOS LOS CURSOS</button>
            </div>
        </div>
    </main>
</body>
</html>