<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleIndex.css')}}">
    <link rel="Icon" href="{{url_for('static', filename='img/logonaciones.png')}}">
    {% for d in data %}
    {% if d.idcont==1 %}
    <title>
        {{d.titulo}}
    </title>
    {% endif %}
    {% endfor %}
</head>
<body>

    <header>
        <div class="head">
            <div class="title-logo">
                <div class="logo">
                    <img src="{{url_for('static', filename='img/logonaciones.png')}}" alt="logo Colegio">
                </div>

                <div class="title">
                    {% for d in data %}
                    {% if d.idcont==1 %}
                    <p>
                        {{d.titulo}}
                    <p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="op">
                <ul>
                    <li>
                        <a href="{{url_for('home')}}">Inicio</a>
                    </li>
                    <li>
                        <a href="{{url_for('sobreNosotros')}}">Sobre nosotros</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                </ul>
            </div>

            <button class="buton"> 
                <a href="{{url_for('login')}}">
                    Iniciar Sesion
                </a>
            </button>
        </div>
    </header>
    
    <main>
        <div class="img-presen">
            {% for d in data %}
            {% if d.idcont==1 %}
            <h1>
                Bienvenido al {{d.titulo}}
            </h1>
            {% endif %}
            {% endfor %}

        </div>

        <div class="himno">
            <div class="todo">
                <div class="himn">
                    <div class="nuestro">
                        <h1>Nuestro <b style="color: #0066FF;">Himno</b></h1>
                    </div>
    
                    <div class="parra">

                        {% for d in data %}
                        {% if d.idcont==2 %}
                        <div class="coes">
                            <p><b>{{ d.titulo }}</b></p>
                            <p class="estrofas">
                                {{ d.descripcion }}
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
    
                <div class="foto">
                    <img src="{{url_for('static', filename='img/image 3.png')}}" alt="">
                </div>
            </div>
        </div>

        <div class="cads">
            <div class="card">
                <div class="cars">
                    <div class="img">

                    </div>

                    <div class="se">
                        <h2>
                            Se parte de nosotros
                        </h2>

                        <p class="matri">
                            Matriculas Abiertas
                        </p>

                        <p class="conte">
                            En este apartado encontraras los requisitos para realizar 
                            la matricula para el año 2024, en el siguiente listado podras 
                            encontrar el paso a paso para hacer parte de nosotros
                        </p>

                        <ul>
                            <li>
                                <p>
                                    Paso a paso de la matricula 
                                    <a href="#">(Descargable)</a>
                                </p>
                            </li>

                            <li>
                                <p>
                                    Link para diligenciar en linea la matricula 
                                    <a href="#">(hoja de matricula)</a>
                                </p>
                                
                            </li>

                            <li>
                                <p>
                                    Autorizacion de salidas edapogicas  
                                    <a href="#">(descargable) </a>
                                </p>
                                
                            </li>

                            <li>
                                <p>
                                    Autorizacion manejo de imagen 
                                    <a href="#">(descargable) </a>
                                </p>
                                
                            </li> 
                            
                            <li>
                                <p>
                                    Autorizacion manejo de emergencias
                                    <a href="#">(descargable) </a>
                                </p>
                                
                            </li> 
                        
                        </ul>
                    </div>
                </div>
                <div class="cars">
                    <div class="img">
                        
                    </div>

                    <div class="se">
                        <h2 class="title">
                            Conoce nuestro manual de convivencia
                        </h2>

                        <p class="conte">
                            En este apartado encontraras el manual de convivencia actualizado a 
                            2023 de acuerdo a los ajustes sugeridos por la comunidad educativa en 
                            el año 2022 Manual de convivencia 2023
                        </p>

                        <a href="#" class="manueal">Manual de convivencia 2023</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="lema">
            <img src="{{url_for('static', filename='img/imgagen.png')}}" alt="lema del colegio">
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="conte">
                <div class="comunidad">
                    <h2>
                        Sobre nosotros
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Horizonte institucional
                        </li>
    
                        <li>
                            Ubicacion
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad">
                    <h2>
                        Comunidad
                    </h2>
    
                    <hr>
    
                    <ul>
                        <li>
                            Estudiantes 
                        </li>
    
                        <li>
                            Docentes
                        </li>
    
                        <li>
                            Talleres preparativos
                        </li>
    
                        <li>
                            Rendicion de cuentas
                        </li>
                    </ul>
                </div>
    
                <div class="comunidad">
                    <h2>
                        Contactanos
                    </h2>
    
                    <hr>
    
                    <p class="loca">Localidad:</p>
                    <p class="des">10 - Engativa</p>
    
                    <p class="loca">Sede A:</p>
                    <p class="des">Dirección: CL 73 BIS 68 G - 27</p>
                    <p class="des">Telefono: 2502506</p>
    
                    <p class="loca">Sede B:</p>
                    <p class="des">Dirección: Cl. 73A #69j-10</p>
                    <p class="des">Teléfono: 12507823</p>
                </div> 
            </div>
            <hr class="linea">
            <p class="dere">
                Todos los derechos reservados © 2023 RQC  EDUCATIONAL INFORMATION 
            </p>
        </div>
    </footer>
</body>
</html>