<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleCalendario.css')}}">
    <link rel="Icon" href="{{url_for('static', filename='img/logonaciones.png')}}">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Administrador - Calendario</title>
</head>
<body>

    <div class="Encabezado2">
        <div class="titulo">
            <img class="logo" src="{{url_for('static', filename='img/logo naciones.png')}}" alt="Logo Colegio naciones Unidas">
            <p>Colegio Naciones Unidas I.E.D</p>
        </div>
        {% for d5 in data5 %}
            <div class="nombre">
                <p class="Nombre">{{d5.primerNombre}} {{d5.segundoNombre}} {{d5.primerApellido}} {{d5.segundoApellido}}</p>
                <p class="rol">{{d5.rol}}</p>
            </div>
            {% endfor %}
        <div class="iconos">
            <div class="icono">
                <i class="fa-solid fa-house"></i>
                <a href="{{url_for('inicio')}}">Inicio</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-graduation-cap"></i>
                <a href="{{url_for('estudiantes')}}">Estudiantes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-chalkboard-user"></i>
                <a href="{{url_for('docentes')}}">Docentes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="{{url_for('calendario')}}">Cronograma</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-book"></i>
                <a href="{{url_for('reportes')}}">Reportes</a>
            </div>
        </div>
        <div class="salir">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{{url_for('cerrarSesion')}}">Cerrar Sesion</a>
        </div>
    </div>


    <div class="grande">
        <div class="botones">
            <button id="atras" class="atras" onclick="atrasFunction()">Atras</button>
            <button id="siguiente" class="siguiente" onclick="siguienteFunction()">Siguiente</button>
        </div>
        <div class="gran">
            <div class="calendario">
                <div class="Cronograma">
                    <button value="{{data2[1]}}" style="display: none;" class="mes"></button>
                    <div class="mes">
                            <h1 class="til">
                                Enero 2023
                            </h1>

                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='January' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                        <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                    {% endif %}
                                {% endif %}
                            {% endfor%}
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Febrero 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='February' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%}
                        </ol>
                    </div>
                    <div class="mes">   
                        <h1 class="til">
                            Marzo 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='March' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for  e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Dia==e2.dia %}
                                                    {% if d.Mes==e2.mes and e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%}
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Abril 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='April' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%}
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Mayo 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            {% for d in data %}
                                {% if d.Mes=='May' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%}    
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Junio 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='June' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Julio 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='July' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Agosto 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='August' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Septiembre 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% elif d.Mes=='September' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Octubre 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='October' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Noviembre 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='November' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                    <div class="mes">
                        <h1 class="til">
                            Diciembre 2023
                        </h1>
                        <ol>
                            <li class="day-name">Lunes</li>
                            <li class="day-name">Martes</li>
                            <li class="day-name">Miercoles</li>
                            <li class="day-name">Jueves</li>
                            <li class="day-name">Viernes</li>
                            <li class="day-name">Sabado</li>
                            <li class="day-name">Domingo</li>
                            
                            
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            {% for d in data %}
                                {% if d.Mes=='November' %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}">{{d.Dia}}
                                        <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                    {% if d.Mes==data2[2] and d.Dia==data2[0] %}
                                    <a href="{{url_for('evento', mes=d.Mes, dia=d.Dia)}}" type="buttom" style="background: #0B3860; color: white;">{{d.Dia}}
                                    <div class="eventosDentro">
                                            {% for e2 in eventos2 %}
                                                {% if d.Mes==e2.mes and d.Dia==e2.dia %}
                                                    {% if e2.idTipoAcFK==1 %}
                                                        <p class="eventoDentro" style="background-color: aqua;"></p>
                                                    {% elif e2.idTipoAcFK==2 %}
                                                        <p class="eventoDentro" style="background-color: rgb(46, 180, 106);"></p>
                                                    {% else %}
                                                        <p class="eventoDentro" style="background-color: rgb(70, 47, 201);"></p>                          
                                                    {% endif %}
                                                
                                                {% endif %}
                                            {% endfor %}
                                        </div></a>
                                {% endif %}
                                {% endif %}
                            {% endfor%} 
                        </ol>
                    </div>
                </div>
            </div>
            <div class="eventos">
                <h1 class="dia">
                    {{ dia }} {{ mes }}
                </h1>
                <p class="even">Eventos:</p>
                    {% if mensaje %}
                        <p style="width: 86%;
                        margin-top: 40%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        color: rgb(187, 185, 185);
                        padding: 0% 2%;">
                            {{ mensaje }}
                        </p>
                    {% else %}
                        <div class="todos">
                        {% for e in eventos %}
                            {% if e.idTipoAcFK==1 %}
                                <div class="e">
                                    <button data-bs-toggle="modal" data-bs-target="#staticBackdropV{{e.idActividad}}" type="buttom" class="evento" style="background-color: aqua;" >{{ e.TituloActividad }}</button>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropM{{e.idActividad}}" ><i class="fa-solid fa-pen-to-square" style="color: aliceblue;"></i></a>
                                </div>
                            {% elif e.idTipoAcFK==2 %}
                                <div class="e">
                                    <button data-bs-toggle="modal" data-bs-target="#staticBackdropV{{e.idActividad}}" type="buttom" class="evento" style="background-color: rgb(46, 180, 106);">{{ e.TituloActividad }}</button>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropM{{e.idActividad}}" ><i class="fa-solid fa-pen-to-square" style="color: aliceblue;"></i></a>
                                </div>                        
                            {% else %}
                                <div class="e">
                                    <button data-bs-toggle="modal" data-bs-target="#staticBackdropV{{e.idActividad}}"  type="buttom" class="evento" style="background-color: rgb(70, 47, 201); color: aliceblue;">{{ e.TituloActividad }}</button>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropM{{e.idActividad}}" ><i class="fa-solid fa-pen-to-square" style="color: aliceblue;"></i></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                <button class="agregar" data-bs-toggle="modal" data-bs-target="#staticBackdropC">+</button>
            </div>
        </div>
        <div class="modales">
            <div class="visualizarEvento">
                {% for e in eventos %}
                <!-- Modal -->
                <div class="modal fade" id="staticBackdropV{{e.idActividad}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-10" id="staticBackdropLabel">{{e.TituloActividad}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        
                        <h4>Descripcion del evento:</h4>
                        <p>{{e.descripcionActividad}}</p>

                        <h4>Hora de inicio y de cierre:</h4>
                        <p>{{e.inicio}}-{{e.cierre}}</p>


                        </div>
                        <div class="modal-footer">
                            {% if e.idTipoAcFK==1 %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="color1">Close</button>
                            {% elif e.idTipoAcFK==2 %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="color2">Close</button>
                            {% else %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="color3">Close</button>
                            {% endif %}
                        
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="modificarEvento">
                {% for e in eventos %}
                <!-- Modal -->
                <div class="modal fade" id="staticBackdropM{{e.idActividad}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modificar el evento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="/editEvent/{{e.idActividad}}" method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: left;">
                            <label for="til" >Titulo del evento:</label>
                            <input type="text" name="til" id="til" placeholder="{{e.TituloActividad}}" required>
                            <label for="des" >Descripcion del evento</label>
                            <input type="text" name="des" id="des" placeholder="{{e.descripcionActividad}}" required>
                            
                            <label for="tip" >Tipo de evento</label>
                            <select name="tip" id="tip">
                                {% for tip in tipoActividad %}
                                <option value="{{ tip.idTipoAc }}">{{tip.tipoActividad}}</option>
                                {% endfor %}
                              </select>

                            <label for="fechaI" >Fecha y hora de inicio</label>
                            <input type="datetime-local" name="fechaI" id="fechaI" required>
                            <label for="fechaC" >Fecha y hora de cierre</label>
                            <input type="datetime-local" name="fechaC" id="fechaC" required>
                            <div class="modal-footer">
                                <a href="{{url_for('eliminarEvent', idActividad=e.idActividad)}}" type="button" class="btn btn-secondary">Eliminar</a>
                                <button type="submit" class="btn btn-primary" style="background-color: #0B3860;">Modificar</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="crearEvento">
                <!-- Modal -->
                <div class="modal fade" id="staticBackdropC" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Evento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/addEvent" method="post" style="display: flex; flex-direction: column; justify-content: center; align-items: left;">
                                <label for="til" >Titulo del evento:</label>
                                <input type="text" name="til" id="til" placeholder="Titulo del evento" required>
                                <label for="des" >Descripcion del evento</label>
                                <input type="text" name="des" id="des" placeholder="Escriba una breve Descripcion" required>
                                
                                <label for="tip" >Tipo de evento</label>
                                <select name="tip" id="tip">
                                    <option value="1">Trabajo en clase</option>
                                    <option value="2">Izada de bandera</option>
                                    <option value="3">Salida Pedagogica</option>
                                  </select>
    
                                <label for="fechaI" >Fecha y hora de inicio</label>
                                <input type="datetime-local" name="fechaI" id="fechaI" required>
                                <label for="fechaC" >Fecha y hora de cierre</label>
                                <input type="datetime-local" name="fechaC" id="fechaC" required>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary" style="background-color: #0B3860;">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="Text/JavaScript" src="{{url_for('static', filename='JS/calendario.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
