<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleInfoDocente.css')}}">
    <link rel="Icon" href="{{url_for('static', filename='img/logonaciones.png')}}">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <title>Administrador - Informacion Docentes</title>
</head>
<body>

    <div class="Encabezado2">
        <div class="titulo">
            <img class="logo" src="{{url_for('static', filename='img/logo naciones.png')}}" alt="Logo Colegio naciones Unidas">
            <p>Colegio Naciones Unidas I.E.D</p>
        </div>
        {% for d5 in data5 %}
            <div class="nombre">
                <p class="Nombre">{{d5.primerNombre}} {{d5.segundoNombre}} {{d5.primerApellido}} {{d5.segundoApellido}}</p>
                <p class="rol">{{d5.rol}}</p>
            </div>
            {% endfor %}
        <div class="iconos">
            <div class="icono">
                <i class="fa-solid fa-house"></i>
                <a href="{{url_for('inicio')}}">Inicio</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-graduation-cap"></i>
                <a href="{{url_for('estudiantes')}}">Estudiantes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-chalkboard-user"></i>
                <a href="{{url_for('docentes')}}">Docentes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="{{url_for('calendario')}}">Cronograma</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-book"></i>
                <a href="{{url_for('reportes')}}">Reportes</a>
            </div>
        </div>
        <div class="salir">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{{url_for('cerrarSesion')}}">Cerrar Sesion</a>
        </div>
    </div>

    <main>
        {% for d in data %}
        <div class="per">
            <div class="perfin">
                <div class="fot">
                    <img src="../../../assets/img/fotoperfil.png" alt="">
                </div>
                <div class="name-list">
                    <div class="name">
                        <h3>{{d.primerNombre}} {{d.segundoNombre}} {{d.primerApellido}} {{d.segundoApellido}}</h3>
                    </div>

                    <ul class="list">
                        <li>
                            <a href="">
                                <i class="fa-solid fa-bars"></i>
                                Informacion
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa-solid fa-users"></i>
                                Cursos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="conte">
            <div class="infor">
                <div class="title">
                    <h3>Información</h3>
                </div>

                <form action="/edit/{{d.idUsuario}}" method="post">
                    <div class="info1">
                        <div class="segun">
                            <h4>Primer Nombre</h4>
                            <input type="text" name="primerNombre" placeholder="{{d.primerNombre}}">
                        </div>
    
                        <div class="segun">
                            <h4>Segundo Nombre</h4>
                            <input type="text" name="segundoNombre" placeholder="{{d.segundoNombre}}">
                        </div>
    
                        <div class="segun">
                            <h4>Primer Apellido</h4>
                            <input type="text" name="primerApellido" placeholder="{{d.primerApellido}}">
                        </div>
    
                        <div class="segun">
                            <h4>Segundo Apellido</h4>
                            <input type="text" name="segundoApellido" placeholder="{{d.segundoApellido}}">
                        </div>
                    </div>
    
                    <div class="info1">
                        <div class="segun">
                            <h4>Genero</h4>
                            <input type="text" name="genero" placeholder="{{d.genero}}">
                        </div>
    
                        <div class="segun1">
                            <h4>Depto. de Nacimiento</h4>
                            <input type="text" name="nacimiento" placeholder="{{d.DepNacimiento}}">
                        </div>
    
                        <div class="segun1">
                            <h4>Municipio de Nacimiento</h4>
                            <input type="text" name="municipioNaci" placeholder="{{d.municipioNaci}}">
                        </div>
                    </div>
    
                    <div class="info1">
                        <div class="segun2">
                            <h4>Fecha de Nacimiento</h4>
                            <input type="date" name="FechaNaci" placeholder="{{d.FechaNaci}}">
                        </div>
    
                        <div class="segun3">
                            <h4>Edad</h4>
                            <input type="text" name="edad" placeholder="{{d.edad}}">
                        </div>
    
                        <div class="segun4">
                            <h4>Tipo de documento</h4>
                            <select name="tipoDoc" id="tipoDoc">
                                {% for d3 in data3 %}
                                <option value="{{ d3.idTipoDoc}}">{{d3.tipoDocUsu}}</option>
                                {% endfor %}
                              </select> 
                        </div>
    
                        <div class="segun4">
                            <h4>Numero documento</h4>
                            <input type="text" name="numberDocu" placeholder="{{d.numberDocu}}">
                        </div>
    
                    </div>
    
                    <div class="info1">
                        <div class="segun2">
                            <h4>Barrio</h4>
                            <input type="text" name="barrio" placeholder="{{d.barrio}}">
                        </div>
    
                        <div class="segun3">
                            <h4>Estrato</h4>
                            <input type="text" name="estrato" placeholder="{{d.estrato}}">
                        </div>
    
                        <div class="segun4">
                            <h4>Direccion Residencia</h4>
                            <input type="text" name="direccion" placeholder="{{d.direccion}}">
                        </div>
    
                        <div class="segun4">
                            <h4>Numero Fijo</h4>
                            <input type="text" name="numeroF" placeholder="{{d.numeroF}}">
                        </div>
    
                        <div class="segun5">
                            <h4>Numero Celular</h4>
                            <input type="text" name="numeroC" placeholder="{{d.numeroC}}">
                        </div>
                    </div>
    
                    <div class="info1">
                        <div class="segun1">
                            <h4>Correo Electronico</h4>
                            <input type="text" name="Correo" placeholder="{{d.Correo}}">
                        </div>
    
                        <div class="segun1">
                            <h4>Contraseña</h4>
                            <input type="text" name="contraseña" placeholder="{{d.contraseña}}">
                        </div>
    
                    </div>
    
                    <div class="buttom">
                        <button type="submit">Actualizar Docente</button>
                    </div>
                </form>
            </div>

            <div class="course">
                <div class="title">
                    <h3>Cursos a Dictar</h3>
                </div>

                <div class="te">
                        {% for d2 in data2 %}
                        {% for d4 in data4 %}
                        {% for d6 in data6 %}
                        {% if d2.numCursoFK==d4.Numcurso and d2.numCursoFK==d6.numCursoFK %}
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>{{d4.Numcurso}}</h3>
                                </div>

                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>{{d4.primerNombre}} {{d4.primerApellido}}</h4>
                                    </div>
                                </div>

                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>{{d6.numeroEstudiantes}}</h3>
                                </div>
                            </div>
                        {% elif  d2.numCursoFK==d4.Numcurso %}
                            <div class="curso">
                                <div class="fot">
                                    <h3>Curso</h3>
                                    <h3>{{d4.Numcurso}}</h3>
                                </div>

                                <div class="infor">
                                    <div class="docen">
                                        <h4>Director de curso:</h4>
                                        <h4>{{d4.primerNombre}} {{d4.primerApellido}}</h4>
                                    </div>
                                </div>
                                
                                <div class="to">
                                    <i class="fa-solid fa-graduation-cap"></i>
                                    <h3>0</h3>
                                </div>
                            </div>

                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </div>
            </div>
        </div>
        {% endfor %}
    </main>

</body>
</html>