<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Rector</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleVistaRector.css')}}">
    <script src="https://kit.fontawesome.com/1067cb33f8.js" crossorigin="anonymous"></script>

</head>
<body class="boby">
    
    
    <div class="contenedor">
        <div class="Encabezado2">
            <div class="titulo">
                <img class="logo" src="{{url_for('static', filename='img/logo naciones.png')}}" alt="Logo Colegio naciones Unidas">
                <p>Colegio Naciones Unidas I.E.D</p>
            </div>
            {% for d2 in data2 %}
            <div class="nombre">
                <p class="Nombre">{{d2.primerNombre}} {{d2.segundoNombre}} {{d2.primerApellido}} {{d2.segundoApellido}}</p>
                <p class="rol">{{d2.rol}}</p>
            </div>
            {% endfor %}
            <div class="iconos">
                <div class="icono">
                    <i class="fa-solid fa-house"></i>
                    <a href="{{url_for('inicio')}}">Inicio</a>
                </div>
                <div class="icono">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <a href="{{url_for('estudiantes')}}">Estudiantes</a>
                </div>
                <div class="icono">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <a href="{{url_for('docentes')}}">Docentes</a>
                </div>
                <div class="icono">
                    <i class="fa-solid fa-calendar-days"></i>
                    <a href="{{url_for('calendario')}}">Cronograma</a>
                </div>
                <div class="icono">
                    <i class="fa-solid fa-book"></i>
                    <a href="{{url_for('reportes')}}">Reportes</a>
                </div>
            </div>
            <div class="salir">
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="{{url_for('cerrarSesion')}}">Cerrar Sesion</a>
            </div>
        </div>
        <div class="contenido">
            <div class="hambur">
                <i class="fa-solid fa-bars" id="ham"></i>
                <h2 class="Titulo">Colegio Naciones Unidas</h2> 
            </div>
            <div class="secciones">
                <div class="seccion">
                    <div class="numero">
                        {% for d in data %}
                            {% if d.idRolFK==1 %}
                            <p class="cantidad">
                                {{d.numeroEstudiantes}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <p class="Rol">Estudiantes</p>
                    </div>
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="seccion">
                    <div class="numero">
                        {% for d in data %}
                            {% if d.idRolFK==3 %}
                            <p class="cantidad">
                                {{d.numeroEstudiantes}}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <p class="Rol">Docentes</p>
                    </div>
                    <i class="fa-solid fa-chalkboard-user"></i>
                </div>
                <div class="seccion">
                    <div class="numero">
                        {% for d3 in data3 %}
                            <p class="cantidad">
                                {{d3.numeroMaterias}}
                            </p>
                        {% endfor %}
                        <p class="Rol">Materias</p>
                    </div>
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="seccion">
                    <div class="numero">
                            <p class="cantidad">
                                100000
                            </p>
                        <p class="Rol">Visitas</p>
                    </div>
                    <i class="fa-regular fa-eye"></i>               
                 </div>
            </div>
            <div class="cronograma">
                <p>Cronograma para esta semana</p>

                    <table class="meses">
                        <tr>
                            <th class="mes">
                                <button><</button>
                                <button>></button>
                                <h2>{{dias[0]}}</h2>
                            </th>
                        </tr>
                    </table>
                    <div class="rectanguloCareVerga">
                            <div class="dias" >
                                <p class="dia">Lunes-{{dias[3]}}</p>
                                <p class="dia">Martes-{{dias[4]}}</p>
                                <p class="dia">Miercoles-{{dias[5]}}</p>
                                <p class="dia">Jueves-{{dias[6]}}</p>
                                <p class="dia">Viernes-{{dias[7]}}</p>
                            </div>
                            <div class="eventos">
                                <a href="{{url_for('evento', mes=dias[0], dia=dias[3])}}" class="event">
                                    {% for e in eventos2 %}
                                    {% if dias[0]==e.mes and dias[3]==e.dia%}
                                        {% if e.idTipoAcFK==1 %}
                                                <p class="eventoDentro" style="background-color: aqua;">{{e.TituloActividad}}</p>
                                            {% elif e.idTipoAcFK==2 %}
                                                <p class="eventoDentro" style="background-color: rgb(46, 180, 106);">{{e.TituloActividad}}</p>
                                            {% else %}
                                                <p class="eventoDentro" style="background-color: rgb(70, 47, 201);">{{e.TituloActividad}}</p>                          
                                        {% endif %}
                                        {% else %}
                                            <p>Nada</p>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </a>
                                <a href="{{url_for('evento', mes=dias[0], dia=dias[4])}}" class="event">
                                    {% for e in eventos2 %}
                                    
                                    {% if dias[0]==e.mes and dias[4]==e.dia%}
                                        {% if e.idTipoAcFK==1 %}
                                                <p class="eventoDentro" style="background-color: aqua;">{{e.TituloActividad}}</p>
                                            {% elif e.idTipoAcFK==2 %}
                                                <p class="eventoDentro" style="background-color: rgb(46, 180, 106);">{{e.TituloActividad}}</p>
                                            {% else %}
                                                <p class="eventoDentro" style="background-color: rgb(70, 47, 201);">{{e.TituloActividad}}</p>                          
                                        {% endif %}
                                        {% else %}
                                            <p>Nada</p>
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <a href="{{url_for('evento', mes=dias[0], dia=dias[5])}}" class="event">
                                    {% for e in eventos2 %}
                                    
                                    {% if dias[0]==e.mes and dias[5]==e.dia%}
                                        {% if e.idTipoAcFK==1 %}
                                                <p class="eventoDentro" style="background-color: aqua;">{{e.TituloActividad}}</p>
                                            {% elif e.idTipoAcFK==2 %}
                                                <p class="eventoDentro" style="background-color: rgb(46, 180, 106);">{{e.TituloActividad}}</p>
                                            {% else %}
                                                <p class="eventoDentro" style="background-color: rgb(70, 47, 201);">{{e.TituloActividad}}</p>                          
                                        {% endif %}
                                        {% else %}
                                            <p>Nada</p>
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <a href="{{url_for('evento', mes=dias[0], dia=dias[6])}}" class="event">
                                    {% for e in eventos2 %}
                                    
                                    {% if dias[0]==e.mes and dias[6]==e.dia%}
                                        {% if e.idTipoAcFK==1 %}
                                                <p class="eventoDentro" style="background-color: aqua;">{{e.TituloActividad}}</p>
                                            {% elif e.idTipoAcFK==2 %}
                                                <p class="eventoDentro" style="background-color: rgb(46, 180, 106);">{{e.TituloActividad}}</p>
                                            {% else %}
                                                <p class="eventoDentro" style="background-color: rgb(70, 47, 201);">{{e.TituloActividad}}</p>                          
                                        {% endif %}
                                        {% else %}
                                            <p>Nada</p>
                                        {% endif %}
                                    {% endfor %}
                                </a>
                                <a href="{{url_for('evento', mes=dias[0], dia=dias[7])}}" class="event">
                                    {% for e in eventos2 %}
                                    
                                    {% if dias[0]==e.mes and dias[7]==e.dia%}
                                        {% if e.idTipoAcFK==1 %}
                                                <p class="eventoDentro" style="background-color: aqua;">{{e.TituloActividad}}</p>
                                            {% elif e.idTipoAcFK==2 %}
                                                <p class="eventoDentro" style="background-color: rgb(46, 180, 106);">{{e.TituloActividad}}</p>
                                            {% else %}
                                                <p class="eventoDentro" style="background-color: rgb(70, 47, 201);">{{e.TituloActividad}}</p>                          
                                        {% endif %}
                                        {% else %}
                                            <p>Nada</p>
                                        {% endif %}
                                    {% endfor %}
                                </a>
                            </div>
                    </div>
            </div>
        </div>
        

    </div>

    <script>
        /*Menu*/
        const ham=document.getElementById("ham")
        const men=document.querySelector(".Encabezado2")
        const logo=document.querySelector(".logo")

        ham.addEventListener('click',() =>{
            //console.log("entro");
            men.classList.remove('Encabezado2');
            men.classList.add('Encabezado'); 
        })

        logo.addEventListener('click',() =>{
            men.classList.remove('Encabezado');
            men.classList.add('Encabezado2'); 
        })
    </script>
</body>
</html>