<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleListDocente.css')}}">
    <link rel="Icon" href="{{url_for('static', filename='img/logonaciones.png')}}">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <title>Administrador - Docentes</title>
</head>
<body>

    <div class="Encabezado2">
        <div class="titulo">
            <img class="logo" src="{{url_for('static', filename='img/logo naciones.png')}}" alt="Logo Colegio naciones Unidas">
            <p>Colegio Naciones Unidas I.E.D</p>
        </div>
        {% for d5 in data5 %}
            <div class="nombre">
                <p class="Nombre">{{d5.primerNombre}} {{d5.segundoNombre}} {{d5.primerApellido}} {{d5.segundoApellido}}</p>
                <p class="rol">{{d5.rol}}</p>
            </div>
            {% endfor %}
        <div class="iconos">
            <div class="icono">
                <i class="fa-solid fa-house"></i>
                <a href="{{url_for('inicio')}}">Inicio</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-graduation-cap"></i>
                <a href="{{url_for('estudiantes')}}">Estudiantes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-chalkboard-user"></i>
                <a href="{{url_for('docentes')}}">Docentes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="{{url_for('calendario')}}">Cronograma</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-book"></i>
                <a href="{{url_for('reportes')}}">Reportes</a>
            </div>
        </div>
        <div class="salir">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{{url_for('cerrarSesion')}}">Cerrar Sesion</a>
        </div>
    </div>

    <main>
        <div class="busq">
            <div class="barra_busq">
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="inpu">
                    <input type="text" placeholder="Buscar Docente deseado....">
                </div>
            </div>
            
            <div class="linea"></div>
        </div>

        <div class="conte">
            <div class="dosD">
                {% for d2 in data2%}
                <a href="{{url_for('vistaPorDocente', idUsuario=d2.idUsuario)}}">
                    <div class="docente">
                        <div class="fot">
                            <img src="../../../assets/img/fotoperfil.png" alt="foto-Docente">
                        </div>
                        
                        <div class="info">
                            <div class="docen">
                                <h3>Director de curso:</h3>
                                <h3>{{d2.primerNombre}} {{d2.primerApellido}}- {% for d in data %}{% if d.idUsuario==d2.idUsuario %} {{ d.Numcurso }} {% endif %}{% endfor %}</h3>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <button onclick="openModal('modal1')">Registrar Docente</button>
        </div>
    </main>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="title">
                <h2>Registrar Docente</h2>
                <i class="fa-solid fa-x" onclick="closeModal('modal1')"></i>
            </div>

            <form action="/addDocentes" method="post">
                <div class="info1">
                    <div class="segun">
                        <h4>Primer Nombre</h4>
                        <input type="text" name="primerNombre" placeholder="Primer Nombre">
                    </div>

                    <div class="segun">
                        <h4>Segundo Nombre</h4>
                        <input type="text" name="segundoNombre" placeholder="Segundo Nombre">
                    </div>

                    <div class="segun">
                        <h4>Primer Apellido</h4>
                        <input type="text" name="primerApellido" placeholder="Primer Apellido">
                    </div>

                    <div class="segun">
                        <h4>Segundo Apellido</h4>
                        <input type="text" name="segundoApellido" placeholder="Segundo Apellido">
                    </div>
                </div>

                <div class="info1">
                    <div class="segun">
                        <h4>Genero</h4>
                        <input type="text" name="genero" placeholder="Genero">
                    </div>

                    <div class="segun1">
                        <h4>Depto. de Nacimiento</h4>
                        <input type="text" name="nacimiento" placeholder="Depto. de Nacimiento">
                    </div>

                    <div class="segun1">
                        <h4>Municipio de Nacimiento</h4>
                        <input type="text" name="municipioNaci" placeholder="Municipio de Nacimiento">
                    </div>
                </div>

                <div class="info1">
                    <div class="segun2">
                        <h4>Fecha de Nacimiento</h4>
                        <input type="date" name="FechaNaci">
                    </div>

                    <div class="segun3">
                        <h4>Edad</h4>
                        <input type="text" name="edad" placeholder="Edad">
                    </div>

                    <div class="segun4">
                        <h4>Tipo de documento</h4>
                        <select name="tipoDoc" id="tipoDoc">
                            {% for d3 in data3 %}
                            <option value="{{ d3.idTipoDoc}}">{{d3.tipoDocUsu}}</option>
                            {% endfor %}
                          </select> 
                        </div>
                        
                    <div class="segun4">
                        <h4>Numero documento</h4>
                        <input type="number" name="numberDocu" placeholder="Numero de documento">   
                    </div>
                </div>

                <div class="info1">
                    <div class="segun2">
                        <h4>Barrio</h4>
                        <input type="text" name="barrio" placeholder="Barrio">
                    </div>

                    <div class="segun3">
                        <h4>Estrato</h4>
                        <input type="text" name="estrato" placeholder="Estrato">
                    </div>

                    <div class="segun4">
                        <h4>Direccion Residencia</h4>
                        <input type="text" name="direccion" placeholder="Direccion Residencia">
                    </div>

                    <div class="segun4">
                        <h4>Numero Fijo</h4>
                        <input type="number" name="numeroF" placeholder="Numero Fijo">
                    </div>

                    <div class="segun5">
                        <h4>Numero Celular</h4>
                        <input type="number" name="numeroC" placeholder="Numero Celular">
                    </div>
                </div>

                <div class="info1">
                    <div class="segun1">
                        <h4>Correo Electronico</h4>
                        <input type="text" name="Correo" placeholder="Correo Electronico">
                    </div>

                    <div class="segun1">
                        <h4>Contraseña</h4>
                        <input type="text" name="contra" placeholder="Contraseña Predeterminada">
                    </div>

                </div>

                <div class="buttom">
                    <button type="submit">Registrar Docente</button>
                </div>
            </form>
        </div>
    </div>

    <script type="Text/JavaScript" src="{{url_for('static', filename='JS/Script.js')}}"></script>
</body>
</html>