<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/StyleReportes.css')}}">
    <link rel="Icon" href="{{url_for('static', filename='img/logonaciones.png')}}">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <title>Administrador - Reportes</title>
</head>
<body>


    <div class="Encabezado2">
        <div class="titulo">
            <img class="logo" src="{{url_for('static', filename='img/logo naciones.png')}}" alt="Logo Colegio naciones Unidas">
            <p>Colegio Naciones Unidas I.E.D</p>
        </div>
        {% for d5 in data5 %}
            <div class="nombre">
                <p class="Nombre">{{d5.primerNombre}} {{d5.segundoNombre}} {{d5.primerApellido}} {{d5.segundoApellido}}</p>
                <p class="rol">{{d5.rol}}</p>
            </div>
            {% endfor %}
        <div class="iconos">
            <div class="icono">
                <i class="fa-solid fa-house"></i>
                <a href="{{url_for('inicio')}}">Inicio</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-graduation-cap"></i>
                <a href="{{url_for('estudiantes')}}">Estudiantes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-chalkboard-user"></i>
                <a href="{{url_for('docentes')}}">Docentes</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-calendar-days"></i>
                <a href="{{url_for('calendario')}}">Cronograma</a>
            </div>
            <div class="icono">
                <i class="fa-solid fa-book"></i>
                <a href="{{url_for('reportes')}}">Reportes</a>
            </div>
        </div>
        <div class="salir">
            <i class="fa-solid fa-right-from-bracket"></i>
            <a href="{{url_for('cerrarSesion')}}">Cerrar Sesion</a>
        </div>
    </div>


    <main>

        <div class="titulo">
            <h1>Reportes</h1>
        </div>

        <div class="periodo">
            <div class="trimestre">
                <label for="periodo">Primer Trimestre</label>
                
            </div>
            <hr>

        </div>

        <div class="curso">
            {% for d in data %}
            {% for d2 in data2 %}
            {% if d.Numcurso==d2.numCursoFK %}
            <div class="dos">
                <a href="{{url_for('reportePorCurso', numCurso=d.Numcurso, idPeriodo=1)}}">
                    <div  class="course">
                        <div style="color: white;" class="name">
                            <h2>Curso</h2>
                            <h2>{{d.Numcurso}}</h2>
                        </div>

                        <div class="dire">
                            <h3>Director de curso:</h3>
                            <h3>{{d.primerNombre}} {{d.segundoNombre}} {{d.primerApellido}} {{d.segundoApellido}}</h3>
                        </div>

                        <div class="total">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <h3>{{d2.numeroEstudiantes}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>

        <div class="periodo">
            <div class="trimestre">
                <label for="periodo">Segundo trimestre</label>
                
            </div>
            <hr>

        </div>

        <div class="curso">
            {% for d in data %}
            {% for d2 in data2 %}
            {% if d.Numcurso==d2.numCursoFK %}
            <div class="dos">
                <a href="{{url_for('reportePorCurso', numCurso=d.Numcurso, idPeriodo=2)}}">
                    <div  class="course">
                        <div style="color: white;" class="name">
                            <h2>Curso</h2>
                            <h2>{{d.Numcurso}}</h2>
                        </div>

                        <div class="dire">
                            <h3>Director de curso:</h3>
                            <h3>{{d.primerNombre}} {{d.segundoNombre}} {{d.primerApellido}} {{d.segundoApellido}}</h3>
                        </div>

                        <div class="total">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <h3>{{d2.numeroEstudiantes}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>

        <div class="periodo">
            <div class="trimestre">
                <label for="periodo">Tercer trimestre</label>
                
            </div>
            <hr>
        </div>

        <div class="curso">
            {% for d in data %}
            {% for d2 in data2 %}
            {% if d.Numcurso==d2.numCursoFK %}
            <div class="dos">
                <a href="{{url_for('reportePorCurso', numCurso=d.Numcurso, idPeriodo=3)}}">
                    <div  class="course">
                        <div style="color: white;" class="name">
                            <h2>Curso</h2>
                            <h2>{{d.Numcurso}}</h2>
                        </div>

                        <div class="dire">
                            <h3>Director de curso:</h3>
                            <h3>{{d.primerNombre}} {{d.segundoNombre}} {{d.primerApellido}} {{d.segundoApellido}}</h3>
                        </div>

                        <div class="total">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <h3>{{d2.numeroEstudiantes}}</h3>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>



    </main>

</body>
</html>