:root{
    --azulOscuro: #010324;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*Encabezado*/

.Encabezado2{
    background-color: var(--azulOscuro);
    width: 20%;
    position: fixed;
    height: 100%;
    color:  var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Encabezado2 .titulo{
    width: 80%;
    height: 7%;
    font-size: 18px;
    display: flex;
    margin-top: 5%;
    align-items: center;
    
}
.titulo p{
    margin-top: 7%;
}
.titulo .logo{
    width: 30%;
    height: 90%;
}
.Encabezado2 .nombre{
    width: 80%;
    height: 4.5%;
    margin-top: 15%;
    font-size: 25px;
}
.nombre .rol{
    margin-top: -6%;
}
.iconos{
    width: 80%;
    height: 30%;
    margin-top: 20%;
    font-size: 25px;
}
.iconos .icono{
    display: flex;
    align-items: center;
    padding: 5% 0% 5% 0%;
}
.icono:hover{
    background-color: #337AB7;
}
.Encabezado2 a{
    text-decoration: none;
    color: var(--blanco);
    margin-left: 5%;
    width: 50%;
}
.salir{
    width: 80%;
    height: 3%;
    font-size: 25px;
    display: flex;
    padding: 5% 0% 5% 0%;
    margin-top: 80%;
    align-items: center;
}
.salir:hover{
    background-color: #337AB7;
}

/*Contenido*/

.grande{
    margin-left: 20%;
    position: absolute;
    width: 80%;
    padding: 1%;
    height: 80%;
    overflow: hidden;
}

.gran{
    width: 100%;
    height: 100%;
    display: flex;
}



.eventos{
    width: 20%;
    margin-top: 4%;
    height: 74%;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #0B3860;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.eventos .dia{
    width: 90%;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 5px;
    color: rgb(187, 185, 185);
    margin-top: 5%;

    text-align: center;
}
.eventos .even{
    width: 90%;
    font-size: 17px;
    margin: 2% 0%;
    color: rgb(187, 185, 185);
    font-weight: bold;
}

.eventos .todos{
    width: 90%;
    height: 68%;
    overflow-y: hidden;
}

.eventos .e{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.e .evento{
    text-decoration: none;
    width: 76%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 1% 2%;
    color: #010324;
    font-size: 20px;
}

.e a{
    padding: 0% 5%;
    font-size: 20px;
    cursor: pointer;
}

form label{
    margin-top: 2%;
    font-size: 20px;
}

.eventos .even .error{
    width: 86%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(187, 185, 185);
    padding: 0% 2%;
}

.eventos  .agregar{
    width: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #0B3860;
    border: 1px solid white;
    height: 10%;
    position: absolute;
    padding-bottom: 6%;
    font-size: 500%;
    margin-left:70%;
    margin-top: 160%;
    color: rgb(187, 185, 185);
}

.eventosDentro{
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.eventosDentro .eventoDentro{
    width: 20%;
    height: 20px;
    border-radius: 5px;
}


.calendario{
    width: 76%;
    padding: 0% 2%;
    height: 100%;
    overflow: hidden;
}

.Cronograma{
    width: 1200%;
    display: flex;
    height: 100%;
    transition: all .5s ease;
    transform: translateX(0%);
}
/*0 -8.3 -16.62  -24.97 -33.29 -41.63  -49.95 -58.3 */
.mes{
    text-align: center;
    width: calc(100%/12);
    height: 100%;
    padding: 0% .1%;
}

.botones{
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.botones #atras, #siguiente{
    height: 40px;
    padding: 3px 13px;
    margin-left: 0.2%;
    border-radius: 6px;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    border: #010324;
}



.botones button:hover{
    cursor: pointer;
}

.til{
    height: 8%;
}

ol{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

li{
    text-align: right;
    border: 1px solid rgb(161, 153, 153);
    width: 14%;
    height: 10%;
}
ol a{
    text-decoration: none;
    color: var(--azulOscuro);
    text-align: right;
    border: 1px solid rgb(161, 153, 153);
    width: 14%;
    height: 100px;
    font-weight: bold;
}

.day-name{
    height: 25px;
    background-color: aliceblue;
    font-weight: bold;
    text-align: center;
}

/*modal*/
#color1:hover{
    background-color: aqua;
    color: #010324;
}
#color2:hover{
    background-color: rgb(46, 180, 106);
    color: #010324;
}
#color3:hover{
    background-color: rgb(70, 47, 201);
}